[package]
name = "qpm_cli"
version = "0.1.0"
edition = "2021"
repository = "https://github.com/QuestPackageManager/QPM.CLI"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

# Rename binary
[[bin]]
name = "qpm"
path = "src/main.rs"

[features]
default = ["templatr", "network_test"]
templatr = ["dep:templatr"]
network_test = []

[build-dependencies]
vergen = { version = "8", features = ["build", "git", "gitcl"] }
# if you wish to disable certain features
color-eyre = { version = "0.6", default-features = false }

[dev-dependencies]
trycmd = "0.14"

[dependencies]
#qpm
qpm_package = { git = "https://github.com/QuestPackageManager/QPM.Package.git" }
qpm_qmod = { git = "https://github.com/QuestPackageManager/QPM.Qmod.git" }
qpm_arg_tokenizer = { git = "https://github.com/QuestPackageManager/QPM.arg_tokenizer.git" }
templatr = { git = "https://github.com/QuestPackageManager/templatr.git", optional = true }

# No need for tracing support
color-eyre = { version = "0.6", default-features = false }
# progress bar
pbr = "*" #{ git = "https://github.com/a8m/pb.git" }

git2 = "0.18"

#tokio fix
tokio = { version = ">=1.33", features = ["io-util", "io-std", "net"] }

bytes = "*"
reqwest = { version = "0.11", features = [
    "blocking",
    "json",
    "default-tls",
    "gzip",
    "deflate",
    "brotli",
    "rustls-tls",
], default-features = false }

clap = { version = "4", features = ["derive"] }
serde = { version = "1.0", features = ["derive"] }
serde_json = "1.0"
serde-xml-rs = "0.6"
semver = { version = "1.0", features = ["serde"] }
cursed-semver-parser = { git = "https://github.com/raftario/cursed-semver-parser.git", features = [
    "serde",
] }
pubgrub = "0.2"
owo-colors = "4"
dirs = "5.0.0"
keyring = "2"
zip = "0.6"
walkdir = "2"
symlink = "0.1.0"
fs_extra = "1.2"
itertools = "0.12"
stopwatch = "0.0.7"


[profile.release]
opt-level = 3
lto = true
strip = "symbols"

[profile.dev.package.backtrace]
opt-level = 3

[target.aarch64-apple-darwin.dependencies]
# Allow cross compiles
openssl = { version = "0.10", features = ["vendored"] }
openssl-sys = { version = "0.9", features = ["vendored"] }
