name: Windows Installer

on: 
  push:
    branches: [main]
    paths-ignore:
      - 'README.md'
      - '**.json'
      - '**.yml'
      - 'LICENSE'
      - '!.github/workflows/windows-installer.yml'

jobs:
  build:
    name: Build installer on windows
    runs-on: windows-latest

    steps:
    - uses: actions/checkout@v2
    - uses: actions-rs/toolchain@v1
      with:
        toolchain: nightly
    - uses: actions/cache@v2
      with:
        path: |
          ~/.cargo/bin/
          ~/.cargo/registry/index/
          ~/.cargo/registry/cache/
          ~/.cargo/git/db/
          target/
        key: ${{ runner.os }}-cargo-${{ hashFiles('**/Cargo.lock') }}
  
    - name: Download Inno Setup
      uses: suisei-cn/actions-download-file@v1
      with:
        url: https://jrsoftware.org/download.php/is.exe
        target: ../
    
    - name: Install Inno Setup
      run: '../is.exe /VERYSILENT /NORESTART /ALLUSERS'
    
    - name: Cargo build
      uses: actions-rs/cargo@v1
      with:
        command: build
        args: --release

    - name: Compile Installer
      run: '& "C:\Program Files (x86)\Inno Setup 6\ISCC.exe" /f installer/installer.iss'

    - name: Artifact Upload
      uses: actions/upload-artifact@v2
      with:
        name: qpm-rust-installer.exe
        path: ./installer/qpm-rust-installer.exe